


    .grow {
        overflow: hidden;
        display: inline-block;
      }
      
      .grow img {
        transition: transform 0.5s linear;
      }
      
      .grow:hover img {
        transform: scale(1.1);
      }
.movingbutton{
    margin-top: -80px;
    margin-left: 15px;
}
.movingdiv{
    width: 500px;
  padding: 10px;
    position: absolute;
background-color: rgba(77, 79, 79, 0.679);
color: white;
bottom: 15px;
left: 16px;

 
}